<p-panel header="Transações"><br>
    <!-- <div class="grid p-fluid form-transaction">
        <div class="p-col-4">
            <div class="p-inputgroup form-group">
                <span class="p-inputgroup-addon form-span"><i class="pi pi-calendar"></i></span>
                <input class="input-form" placeholder="dd-mm-aaaa" id="date" name="date" type="date" pInputText>
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-inputgroup form-group">
                <span class="p-inputgroup-addon form-span"><i class="pi pi-money-bill"></i></span>
                <input class="input-form" id="value" placeholder="Valor" name="value" type="number" maxlength="25" required pInputText>
            </div>
        </div>
    </div> -->
    <button title="Lançar movimentação" pButton type="button" label="Lançar movimentação" routerLink="/introduce" class="ui-button-introduce"></button>
</p-panel>
<p-table>
  
</p-table>


