input::placeholder{
  color: rgb(224, 224, 224);
  font-style: italic;
}

textarea:focus, input:focus, input {
color: #ffffff;
font-weight: 500;
}

.form-transaction{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-transaction:nth-of-type(2){
  margin: 10px 0;
}

.form-group{
  display: flex;
  width: 100%;
}

.form-span{
  background: rgb(18 18 18) !important;
  color: rgb(255, 255, 255);
  border: none !important;
  padding: 0.75rem 0.75rem;
  min-width: 2.75rem;
}

.input-form{
  line-height: 2.5em;
  padding-left: 10px;
  width: 100%;
  border: none;
  background: rgb(59 59 59) !important;
}

.form-buttons{
  justify-content: flex-end;
  align-items: end;
  display: flex;
}

.form-button:first-child{
  margin-right: 5px;
  background-color: rgb(88, 162, 79);
}

.form-button:nth-child(2){
  margin-right: 5px;
  background-color: rgb(223, 85, 85);
}

.radio-group{
  padding: 0 !important;
}

fieldset{
  display: flex;
  border-radius: 5px;
}

legend{
  font-weight: 200;
  color: #cdcdcd;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 10px;
}

input[type=date]::-webkit-datetime-edit {
  color: rgb(224, 224, 224);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
  display: none;
}

.radio {
  width: 14px;
  margin: 0 5px 0;
}
