<form autocomplete="off">
  <p-panel header="Lançar movimentação"><br>
      <div class="ui-g ui-fluid form-group">
          <div class="ui-g-12 ui-md-3">
              <span class="md-inputfield">
                  <input id="desciption" name="desciption" type="text" maxlength="100" required [(ngModel)]="newTransaction.description" pInputText >
                  <label for="desciption">Descrição *</label>
              </span>
          </div>
          <div class="ui-g-12 ui-md-9">
              <span class="md-inputfield">
                  <input id="value" name="value" type="number" maxlength="25" required [(ngModel)]="newTransaction.value" pInputText>
                  <label for="value" >Valor *</label>
              </span>

          </div>
      </div>

      <div class="ui-g ui-fluid form-group">
          <div class="ui-g-12">
              <div class="ui-g-12 ui-md-4">
                  <button title="Salvar" pButton type="button" label="Salvar" (click)="introduceTransaction()" class="ui-button-introduce"></button>
              </div>
              <div class="ui-g-12 ui-md-4"></div>
              <div class="ui-g-12 ui-md-4">
                  <button title="Cancelar" pButton type="button" label="Cancelar" routerLink="/account" class="ui-button-introduce"></button>
              </div>
          </div>
      </div>
  </p-panel>
</form>
