<div class="dashboard">
  <div class="p-grid dashboard-cards">

    <p-card class="p-col-6 menu-card" styleClass="colorbox">
      <p-header class="menu-card-header">
        <i class="pi pi-wallet icon-card"></i>
        <p>Saldo</p>
      </p-header>
      <p>
        R$ {{transactions.totalizersByMonth.balance}}
      </p>
    </p-card>

    <p-card class="p-col-6 menu-card" styleClass="colorbox-1">
      <p-header class="menu-card-header">
        <i class="pi pi-chart-line icon-card"></i>
        <p>Qtde. Transações</p>
      </p-header>
      <p>
        {{transactions.totalizersByMonth.totalTransactions}}
      </p>
    </p-card>

    <p-card class="p-col-6 menu-card" styleClass="colorbox-2">
      <p-header class="menu-card-header">
        <i class="pi pi-dollar icon-card"></i>
        <p>Receitas</p>
      </p-header>
      <p>
        R$ {{transactions.totalizersByMonth.totalRevenues}}
      </p>
    </p-card>

    <p-card class="p-col-6 menu-card" styleClass="colorbox-3">
      <p-header class="menu-card-header">
        <i class="pi pi-arrow-circle-down icon-card"></i>
        <p>Despesas</p>
      </p-header>
      <p>R$ {{transactions.totalizersByMonth.totalExpenses}}</p>
    </p-card>
  </div>

  <div class="graphics">
    <div class="p-col-6 chart">
        <h2 class="graphic-description">Receitas X Despesas - Mensal</h2>
        <p-chart height="300px" type="pie" [data]="pieData"></p-chart>
    </div>
    <div class="p-col-6 chart">
        <h2 class="graphic-description">Receitas X Despesas - Mensal</h2>
        <p-chart height="300px" type="bar" [data]="barData"></p-chart>
    </div>
  </div>
</div>



