
<div class="p-grid dashboard">

  <p-card class="p-col-4 menu-card" styleClass="colorbox">
    <p-header class="menu-card-header">
      <i class="pi pi-wallet icon-card"></i>
      <p>Saldo</p>
    </p-header>
    <p>
      R$1500.00
    </p>
  </p-card>

  <p-card class="p-col-4 menu-card" styleClass="colorbox-2">
    <p-header class="menu-card-header">
      <i class="pi pi-dollar icon-card"></i>
      <p>Receitas</p>
    </p-header>
    <p>
      R$1800.00
    </p>
  </p-card>

  <p-card class="p-col-4 menu-card" styleClass="colorbox-3">
    <p-header class="menu-card-header">
      <i class="pi pi-arrow-circle-down icon-card"></i>
      <p>Despesas</p>
    </p-header>
    <p>R$300.00</p>
  </p-card>
</div>

<div class="ui-g-12 graphics">
  <div class="ui-g-6 ui-sm-12 chart">
      <h2 class="graphic-description">Receitas X Despesas</h2>
      <p-chart height="300px" type="pie" [data]="transactionsData"></p-chart>
  </div>
  <div class="ui-g-6 ui-sm-12 chart">
      <h2 class="graphic-description">Receitas X Despesas</h2>
      <p-chart height="300px" type="doughnut" [data]="transactionsData"></p-chart>
  </div>
</div>

<!-- <div class="ui-g-12 ui-sm-12 chart">
  <p-chart class="ui-g-6" type="pie" [data]="transactionsData"></p-chart>
  <p-chart type="pie" [data]="transactionsData"></p-chart>
</div> -->



