.revenue-header{
  padding: 15px 0
}

.input-filter{
  height: 40px;
  padding: 5px;
  border-radius: 3px;
  font-family: 'Roboto';
  text-align: center;
  margin-right: 10px;
  color: #202020;
  background: #ffffff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  text-transform: capitalize;
}

th, td{
  text-align: center !important;
}

tr{
  line-height: 30px !important;
}

tr:hover{
  background-color: rgb(60, 60, 60);
}

th:last-child > span{
  display: none;
}

.expense > span{
  background-color: rgb(253, 59, 59);
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

:host ::ng-deep .p-paginator input{
  display: none !important;
}

.graphics{
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 10px;
}

.graphics .chart{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background: #1e1e1e;
  padding: 2em;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: 49% !important;
}

.graphic-description{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
